
* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

input, select {
    border: 1px solid $border-color;
    padding: 10px;
    border-radius: $border-radius;

    &:focus {
        box-shadow: 0 10px 10px 2px rgba(#000, 0.1);
        outline: 1px solid #5DBBFF;
    }
}

label {
    font-size: 0.875rem;
    color: $text-color;
    margin-bottom: 2px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 2rem 1rem;
}

.focus-border {
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: $border-radius;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    
    &.active {
        opacity: 1;
    }
}


@keyframes switch-brands {
    0%, 45% {
        opacity: 0;
    }
    50%, 95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-change {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0;
    }
    51%{
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}